@import "../../bower_components/bootstrap/less/bootstrap.less";
@import (less) "../../bower_components/lightbox2/css/lightbox.css";

//Correcting bootstrap fonts path for this project
@icon-font-path: "../fonts/";

//Correcting lightbox2 image pathing
body:after { content: url(../images/close.png) url(../images/loading.gif) url(../images/prev.png) url(../images/next.png); }
.lb-cancel { background: url(../images/loading.gif) no-repeat; }
.lb-nav a.lb-prev { background: url(../images/prev.png) left 48% no-repeat; }
.lb-nav a.lb-next { background: url(../images/next.png) right 48% no-repeat; }
.lb-data .lb-close { background: url(../images/close.png) top right no-repeat; }