.sidebar
{
  //Center sidebar on content on mobile
  @media (max-width: @screen-xs-max) { text-align: center; }

  //On desktop/tablet the sidebar is fixed and doesn't scroll away
  @media (min-width: @screen-sm)     { position: fixed; }

  //Setting a custom sidebar widths for each Bootstrap device size as the fixed positioning causes incorrect sizing
  @media (min-width: @screen-sm)     { width: 282.5px; }
  @media (min-width: @screen-md-min) { width: 293.328125px; }
  @media (min-width: @screen-lg-min) { width: 262.5px; }
}

.headshot
{
  margin-top: 10px;

  border-style: solid;
  border-width: 2px;
  border-radius: 63px;
  border-color: @theme-color;
}